* {

}

.top {
	background: #862883;
	color: #FFF;
}

div.logo {
	border-bottom: 2px solid #FFF;
}

.row {
	padding-bottom: 2rem;
	padding-top: 1rem;
}

div.box {
	border-radius: 5px;
	width: 100%;
	height: 180px;
	justify-content: space-around;
}

div.box p.number{
	font-size: 55px;
	font-weight: bold;
}

div.box p.box-text{
	font-size: 25px;
}

.box-green {
	background: #28a745;
}

.box-red {
	background: #dc3545;
}

.box-yellow {
	background: #ffc107;
}

.level h2 {
	background: #862883;
	color: #FFF;
	margin: 1rem 0;
	text-align: center;
}

footer {
	background: #862883;
	color: #FFF;
}

.btn-tls {
	background-color: #90B12C;
	border-radius: 30px;
	color: #FFF;
	font-size: 22px;
	width: 100%;
}

div.spot {
	height: 200px;
	border-radius: 10px;
	border: 2px solid #CCC;
	margin-bottom: 1rem;
}

div.spot.spot-red{
	background: #dc3545;
}

div.spot.spot-yellow{
	background: #ffc107;
}

div.spot.spot-green{
	background: #28a745;
}

p.spot-number {
	border-radius: 50%;
	border: 3px solid #999;
	font-weight: bold;
	font-size: 24px;
	color: #999;
	padding: 22px;
	margin: 0;
}

.spot-yellow p.spot-number, .spot-red p.spot-number, .spot-green p.spot-number {
	border: 3px solid #FFF;
	color: #FFF;
}

div.time-box {
	border: 2px solid #CCC;
	border-radius: 10px;
}

div.time-box p{
	margin: 0;
	padding: 7.5px 0;
}